{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/c2.css' %}">
    </head>
    <body>

        <center>
            <table border="3px">
                <h1>This is the emp table content</h1>
                <tr class="a">
                    <th>emp_no</th>
                    <th>ename</th>
                    <th>job</th>
                    <th>mgr</th>
                    <th>hiredate</th>
                    <th>sal</th>
                    <th>comm</th>
                    <th>dept_no</th>
                </tr>

                {% for EO in work %}
                <tr>
                    <td class="b">{{EO.emp_no}}</td>
                    <td class="c">{{EO.ename}}</td>
                    <td class="d">{{EO.job}}</td>
                    <td class="e">{{EO.mgr}}</td>
                    <td class="f">{{EO.hiredate}}</td>
                    <td class="g">{{EO.sal}}</td>
                    <td class="h">{{EO.comm}}</td>
                    <td class="i">{{EO.dept_no}}</td>
                </tr>
                {% endfor %}

            </table>
            
        </center>
    </body>
</html>